.App {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2E1F3E;
  display: flex;
  align-items: center;
  justify-content: center;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background-color: white;
  border: 1px solid rgb(54, 53, 53);
  padding: 4px 8px;
  border-radius: 20px
}

button:hover {
  cursor: pointer;
  /* background-color: #ccc; */
  transform: scale(1.1);
}

input {
  height: 24px;
}

.fullscreen {
  position: fixed;
  top: 3px;
  right: 3px;
  background-color: white;
  border-radius: 50%;
  padding: 4px;
}

.background {
  /* The image used */
  background-image: url("./assets/img/background.webp");

  /* Add the blur effect */
  filter: blur(4px);
  -webkit-filter: blur(4px);

  /* Full height */
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}