.opencards {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    & img {
        width: 80px;
        margin: 4px;

        &:hover {
            cursor: pointer;
        }
    }
}

@media (max-width: 1000px) {
    .opencards {
        & img {
            width: 40px;
        }
    }
}