.cards {
    position: absolute;
    & img {
        width: 38px;
        margin: 2px;
    }
    z-index: 1;
    & span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        background-color: white;
        border: 0.5px solid #000;
        font-size: 18px;
        padding: 0px 2px;
    }
}

@media (max-width: 1000px) {
    .cards {
        & img {
            width: 20px;
            margin: 2px;
        }

        & span {
            font-size: 12px;
        }
    }
}